<section id="cec-intro">
  <p>Belle Creek does not have an HOA, we have the <em>Covenant Enforcement Committee (CEC)</em> which has a similar role. So what is the difference? An HOA is an entire organization build around covenants; definition, enforcement, communication, etc. Our Covenant Enforcement Committee helps with definitions and communication, but enforcement is the real mission. Once a month, the CEC meets with a represenative of the Enforcment manager (Wolfersberger LLC) and the public to discuss enforcement issues, to work with home owners to get on the same page.</p>
  <p>The CEC meetings are held once a month on the third Wednesday. These meetings are open to the public and we encourage the home owners join us if they want to hear what is going on or express some other concern.</p>
</section>
<section id="cec-documents">
  
</section>
<section id="cec-contacts">

</section>
