<section id="cec-intro">
  <div class="element-container">
    <h2>Covenant Enforcement Meetings</h2>
    <p>
      Belle Creek does not have an HOA, we have the
      <em>Covenant Enforcement Committee (CEC)</em> which has a similar role. So
      what is the difference? An entire HOA is organized around covenants;
      definition, enforcement, communication, etc. Instead, we have a
      Metropolitian District with a single committee for covenants, but also
      does much more. Our Covenant Enforcement Committee helps with definitions
      and communication, but helping neighbors is the real mission. Once a
      month, the CEC meets with a represenative of the Enforcment Management
      Company (Wolfersberger LLC) and the public to discuss enforcement issues,
      to work with home owners to get on the same page. This committee has to
      find ways of being fair but working with the problems that life throws at
      us.
    </p>
    <p>
      The CEC meetings are held once a month on the third Wednesday. These
      meetings are open to the public and we encourage the home owners join us
      if they want to hear what is going on or express some other concern.
    </p>
    <p>
      The next meeting is on {{ nextDate$ | async }} at 6:00 pm in the Family
      Center
    </p>
  </div>
</section>
